{{>header}}
{{>navbar}}
<main>
      <div class="container">
      <div class="card border-0 shadow my-1" id="div1">
      <div class="card-body p-5">  
        <h1 id="hey">Pintores</h1>
        <p id="hey">Un pintor es un artista que practica el arte de la pintura, que consiste en crear cuadros y frescos, de una manera considerada artística la cual pueda comunicar algún goce estético, emociones, sentimientos, o referencias de contexto social-histórico-cultural.</p>
        <p id="hey">Si hay algo que ha marcado más pauta en el mundo del arte, está sin duda es el arte contemporáneo, pues ha sido a partir de ahí que se han desarrollado un sinfín de técnicas y formas de expresión para los artistas. Principalmente te mostrare en que consiste el arte contemporáneo, como ha sido su evolución en cuanto a la reacción de críticos y observadores, ya que este ha sido motivo de ciertas polémicas a nivel mundial.  A través del tiempo se ha visto como cada artista toma de esta brillante arte lo que más se adapta a sus gustos y lo que más le ha permitido expresarse libremente, ya que de eso trata básicamente el arte contemporáneo. Dicho arte nunca se ha conocido por seguir un patrón especifico, a medida que pasa el tiempo más técnicas se van adquiriendo y así mismo poniendo en práctica, es eso lo que ha permitido a los artistas conseguir su forma de expresión que más se adapte a sus habilidades o gustos. Más adelante verás a que se debe todo esto.</p>
        <p id="hey">A continuacion queremos mostrarte los pintores que en lo personal son nuestros favoritos, te mostraremos sus biografias asi comop tambien sus cuadros mas famosos y aclamados.</p> 
      </div>
      </div>
      </div>
<br>
<br>
<br>
      <div>
      <div id="esr"  class="navbar-expand-lg">
      <div class="container">
      <div id="wow" class="card-body ">
      <table>
<tr>
        <td><a href="/vincent"><img id="" src="imagenes/pintores/voncock.jpg" alt="" height="200" width="150"></a><a href="/pablo"><img id="" src="imagenes/pintores/picasso.jpg" alt="" height="200" width="150"></a><a href="/salvador"><img id="" src="imagenes/pintores/dali.jpg" alt="" height="200" width="150"></a><a href="/warjol"><img id="" src="imagenes/pintores/andi.jpg" alt="" height="200" width="150"></a></td>
        
        </tr>   
      </table>
      </div>
      </div>
      </div>
      </div>
</body>
</html>
</main>
{{>footer}}
