{{>header}}
{{>navbar}}
<main></main>
<div class="container">
    <div class="card border-0 shadow my-1" id="div1">
    <div class="card-body p-5">  
        <h1 id="hey">Pablo Picasso</h1> 
        <br>
        <p id="hey">ue un pintor y escultor español, creador, junto con Georges Braque, del cubismo.</p>
        <p id="hey">Es considerado desde la génesis del siglo xx como uno de los mayores pintores que participaron en muchos movimientos artísticos que se propagaron por el mundo y ejercieron una gran influencia en otros grandes artistas de su tiempo. Sus trabajos están presentes en museos y colecciones de toda Europa y del mundo. Además, abordó otros géneros como el dibujo, el grabado, la ilustración de libros, la escultura, la cerámica y el diseño de escenografía y vestuario para montajes teatrales. También tiene una breve obra literaria.</p>
        <p id="hey">En lo político, Picasso se declaraba pacifista y comunista. Fue miembro del Partido Comunista de España y del Partido Comunista Francés hasta su muerte, acaecida el 8 de abril de 1973 a los noventa y un años de edad, en su casa llamada «Notre-Dame-de-Vie» de la localidad francesa de Mougins. Está enterrado en el parque del castillo de Vauvenargues (Bouches-du-Rhone).</p> 
    </div>
    </div>
    </div>
<br>
<br>
<br>
    <div>
    <div id="esr"  class="navbar-expand-lg">
    <div class="container">
    <div id="wow" class="card-body ">
        <div class="container">
            <div class="card border-0 shadow my-5" id="corr">
            <div class="card-body p-5">
                <div class="bs-example">
                    <div id="myCarousel" class="carousel slide carousel-fade " data-ride="carousel" style="text-align: center;" class="card border-0 shadow my-5">
                                <!-- Carousel indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                                    <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                                    <li data-target="#carousel-example-1z" data-slide-to="4"></li>
                                  </ol>
                                <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                                    <img src="imagenes/pintores/cpic/cuarto" alt="First Slide" width="300" height="200">
                    </div>
                    <div class="carousel-item">
                                    <img src="imagenes/pintores/cpic/jarra.jpg" alt="Second Slide" width="300" height="200">
                    </div>
                    <div class="carousel-item">
                                    <img src="imagenes/pintores/cpic/muerte.jpg" alt="Third Slide" width="300" height="200">
                    </div>
                    <div class="carousel-item">
                                    <img src="imagenes/pintores/cpic/toro.jpg" alt="Third Slide" width="300" height="200">
                    </div>
                    <div class="carousel-item">
                                    <img src="imagenes/pintores/cpic/vir.webp" alt="Third Slide" width="300" height="200">
                    </div>
                    </div>
                                <!-- Carousel controls -->
                                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </a>
                                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </a>
                            </div>
</div>
</div>
</div>  
</main>
{{>footer}}