{{>header}}
{{>navbar}}
<main>
<div class="container">
<div class="card border-0 shadow my-1" id="div1">
<div class="card-body p-5">  
    <h1 id="hey">Vincent Van Cogh</h1> 
    <br>
    <p id="hey">Fue un pintor neerlandés, uno de los principales exponentes del postimpresionismo.</p>
    <p id="hey">Pintó unos 900 cuadros (entre ellos 43 autorretratos y 148 acuarelas) y realizó más de 1600 dibujos. Una figura central en su vida fue su hermano menor Theo, marchante de arte en París, quien le prestó apoyo financiero de manera continua y desinteresada. La gran amistad entre ellos está documentada en las numerosas cartas que se intercambiaron desde agosto de 1872. De las 800 cartas que se conservan del pintor, unas 650 fueron para Theo; las otras son correspondencia con amigos y familiares.</p>
    <p id="hey">La calidad de su obra fue reconocida solo después de su muerte, en una exposición retrospectiva en 1890, considerándose en la actualidad uno de los grandes maestros de la historia de la pintura. Influyó grandemente en el arte del siglo XX, especialmente entre los expresionistas alemanes y los fauvistas como Matisse, Derain, Vlaminck y Kees Van Dongen.​ Falleció a los 37 años por una herida de bala de pistola; aún no se sabe con seguridad si fue un suicidio o un homicidio involuntario. A pesar de que existe una tendencia general a especular que su enfermedad mental influyese en su pintura, el crítico de arte Robert Hughes cree que las obras del artista están ejecutadas bajo un completo control; de hecho, el pintor jamás trabajó en los periodos en los que estaba enfermo.</p> 
</div>
</div>
</div>
    <br>
    <br>
    <br>
<div>
<div id="esr"  class="navbar-expand-lg">
<div class="container">
<div id="wow" class="card-body ">
<div class="container">
<div class="card border-0 shadow my-5" id="corr">
<div class="card-body p-5">
<div class="bs-example">
<div id="myCarousel" class="carousel slide carousel-fade " data-ride="carousel" style="text-align: center;" class="card border-0 shadow my-5"
<!-- Carousel indicators -->
    <ol class="carousel-indicators">
    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    <li data-target="#carousel-example-1z" data-slide-to="3"></li>
    <li data-target="#carousel-example-1z" data-slide-to="4"></li>
    </ol>
<!-- Wrapper for carousel items -->
<div class="carousel-inner">
<div class="carousel-item active">
    <img src="imagenes/pintores/cvan/noches.jpg" alt="First Slide" width="300" height="200">
</div>
<div class="carousel-item">
    <img src="imagenes/pintores/cvan/cuarto.jpg" alt="Second Slide" width="300" height="200">
</div>
<div class="carousel-item">
    <img src="imagenes/pintores/cvan/amari.jpg" alt="Third Slide" width="300" height="200">
</div>
<div class="carousel-item">
    <img src="imagenes/pintores/cvan/granj.jpg" alt="Third Slide" width="300" height="200">
</div>
<div class="carousel-item">
    <img src="imagenes/pintores/cvan/siesta.jpg" alt="forth Slide" width="300" height="200">
</div>
</div>
<!-- Carousel controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>
</div>
</div>
</div> 
</main>
{{>footer}}
